<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yq.shop.mapper.AuctionCustomerMapper">


    <resultMap type="cn.yq.shop.pojo.Auctionproduct" id="auctionAndRecoredMap">
        <id column="auctionId" property="auctionid"/>
        <result column="auctionName" property="auctionname"/>
        <result column="auctionStartPrice" property="auctionstartprice"/>
        <result column="auctionUpset" property="auctionupset"/>
        <result column="auctionStartTime" property="auctionstarttime"/>
        <result column="auctionEndTime" property="auctionendtime"/>
        <result column="auctionPic" property="auctionpic"/>
        <result column="auctionPicType" property="auctionpictype"/>
        <result column="auctionDesc" property="auctiondesc"/>

        <!--多方映射  -->
        <collection property="auctionRecoreList" ofType="cn.yq.shop.pojo.Auctionrecord">
            <id column="recored_id" property="id"/>
            <result column="recored_user_id" property="userid"/>
            <result column="recored_auction_id" property="auctionid"/>
            <result column="auctionTime" property="auctiontime"/>
            <result column="auctionPrice" property="auctionprice"/>

            <!-- 配置一对一 -->
            <association property="user" javaType="cn.yq.shop.pojo.Auctionuser">
                <id column="recored_user_id" property="userid"/>
                <result column="userName" property="username"/>
            </association>
        </collection>
    </resultMap>


    <select id="findAuctionAndRecoredList" parameterType="int" resultMap="auctionAndRecoredMap">
           SELECT auctionproduct.*,
            auctionrecord.id as recored_id,
            auctionrecord.userId as recored_user_id,
            auctionrecord.auctionId as recored_auction_id,
            auctionrecord.auctionTime,
            auctionrecord.auctionPrice,
            auctionuser.userId as recored_user_id,
            auctionuser.userName
            from auctionproduct LEFT outer JOIN
            auctionrecord on auctionproduct.auctionId = auctionrecord.auctionId
            LEFT outer JOIN
            auctionuser on
            auctionrecord.userId = auctionuser.userId
             WHERE auctionproduct.auctionId = #{auctionId}
            ORDER BY auctionrecord.auctionPrice DESC;

    </select>

    <select id="selectAuctionEndTime" resultType="cn.yq.shop.pojo.AuctionCustomer">
        SELECT
        auctionproduct.auctionname,
        auctionproduct.auctionstarttime,
        auctionproduct.auctionendtime,
        auctionproduct.auctionstartprice,
        auctionrecord.auctionprice,
        `auctionuser`.username
        FROM
        auctionproduct,auctionrecord,`auctionuser`
        WHERE
        auctionproduct.auctionid=auctionrecord.auctionid
        AND auctionrecord.userid=`auctionuser`.userid
        AND auctionproduct.auctionendtime<![CDATA[ < ]]>NOW()
        AND auctionrecord.auctionprice=
        (SELECT MAX(r.auctionprice) FROM auctionrecord r WHERE r.auctionid=auctionproduct.auctionid);

    </select>
    <select id="selectAuctionNoEndTime" resultMap="auctionAndRecoredMap">

  SELECT auctionproduct.*,
		auctionrecord.id recored_id,
		auctionrecord.userId recored_user_id,
		auctionrecord.auctionId recored_auction_id,
		auctionrecord.auctionTime,
		auctionrecord.auctionPrice,
		`auctionuser`.userName
  FROM
	auctionproduct,auctionrecord,`auctionuser`
  WHERE
	 auctionproduct.auctionid=auctionrecord.auctionid
	 AND auctionrecord.userid=`auctionuser`.userid
	 AND auctionproduct.auctionendtime>NOW()

    </select>

</mapper>